// Subheader
#subHeader {
  background: rgba(140, 148, 160, 0.3);
  padding: 0 140px;
  p {
    font-size: 18px;
    line-height: 22px;
    color: var(--text-color);
  }
  a {
    text-decoration: none;
    line-height: 15px;
    font-weight: 700;
    color: var(--text-color);
  }
}

// Header
#header {
  padding: 6px 0;

  .navbar {
    position: relative;
  }

  .nav-link {
    color: var(--primary-color) !important;
    font-size: 17px;
    font-style: normal;
    font-weight: 500 !important;
    transition: color 0.3s ease;
  }

  .nav-link:hover {
    color: var(--secondary-color) !important;
  }

  .nav-item:not(:last-child) {
    padding-right: 32px;
  }

  .dropdown-menu {
    position: absolute;
    width: 100%; // Full width
    left: 0;
    background: #fff;
    border-radius: 8px !important;
    box-shadow: 0 25px 40px rgb(0 0 0 / 9%);
    border: 1px solid var(--secondary-color);
    padding: 12px 12px 0 !important;
    outline: none !important;
    z-index: 999;

    li {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #606060 !important;
      padding-top: 8px !important;
      padding-bottom: 8px !important;
      padding-left: 12px !important;
      margin-bottom: 12px;
      border-radius: 8px !important;

      &:hover {
        background: #eee;
        cursor: pointer;
      }
    }

    a {
      color: #666;
    }
  }

  .dropdown-toggle::after {
    border: none !important;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107" !important;
    transition: transform 0.4s ease;
  }

  .dropdown-toggle:hover::after {
    transform: rotate(180deg);
  }
}

// Hero - Front-end Development Academy
#hero {
  padding: 70px 0;
  .heroLeft {
    h2 {
      margin-top: 64px !important;
      font-size: 48px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: -2px;
      width: 100%;
      color: var(--primary-color) !important;
    }

    h5 {
      span {
        color: var(--secondary-color);
      }
    }
    img {
      margin-top: 40px;
    }
  }
  .heroRight h3 {
    font-size: 34;
    font-weight: 700;
    line-height: 33px;
  }
}

// Learn from an Award-winning Tech School
#intro {
  padding: 140px 0;
  .boxes {
    margin-top: 100px;
    .card {
      min-height: 400px;
      border-radius: 14px;
      border: 1px solid rgba(5, 18, 56, 0.2);
      background: #fff;
      box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
      .card-body {
        display: flex;
        align-items: center;
        padding: 32px 34px;
        h5 {
          color: var(--primary-color) !important;
          font-size: 22px;
          font-weight: 700 !important;
          line-height: 29px;
        }
      }
    }
    .secondImage {
      border-radius: 14px !important;
    }
  }
}

// Select Your Path to Success
#ourOffers {
  padding: 60px 20px 0 !important;
  .row {
    display: flex;
    justify-content: center;
  }
  h2 {
    text-align: center;
    margin-bottom: 80px;
  }

  .card-container {
    display: flex;
    height: 100%;
  }

  .priceCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 16px;
    border: 1px solid rgba(5, 18, 56, 0.2);
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
    padding: 48px 40px;
    position: relative;
    overflow: hidden;
    color: var(--text-color);
    .tag {
      display: inline-block;
      width: 100%;
      padding: 8px 0 !important;
      background: #fff;
      color: #4ad1ff !important;
      text-align: center !important;
      font-size: 16px !important;
      font-weight: 700;
      transform: rotate(32deg);
      position: absolute;
      left: 35%;
      top: 4%;
      z-index: 1;
    }

    h4 {
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
      margin: 32px 0;
    }

    p {
      span {
        font-size: 30px;
        font-weight: 800;
        line-height: 1.4;
      }
    }

    .priceHeader {
      border-bottom: 2px solid rgba(5, 18, 56, 0.2);
      padding-bottom: 32px;

      > div {
        display: flex;
        justify-content: space-between;
      }

      p {
        font-size: 14px;
        font-weight: 700;
        color: var(--primary-color);
      }

      span {
        font-size: 30px;
        font-weight: 800;
        color: var(--primary-color);

        &.crossed-out {
          text-decoration: line-through;
          color: #9ba0af;
        }
      }
    }

    .priceBody {
      padding: 32px 0;
      border-bottom: 2px solid rgba(5, 18, 56, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 400px;
      flex-grow: 1;
      color: var(--primary-color);
    }

    .featuresList {
      padding-left: 0;
      margin-top: 10px;
      list-style-type: none;

      li {
        font-size: 16px;
        font-weight: 500;
        color: rgba(5, 18, 56, 0.8);
        margin-bottom: 16px;
        display: flex;
        align-items: flex-start;

        &:before {
          content: url("../images/check2.png") !important;
          display: inline-block;
          margin: 2px 14px 0 0;
          vertical-align: middle;
        }
        &:nth-child(2) {
          .featuresList li:before {
            content: url("../images/check.png") !important;
          }
        }
      }
    }

    .priceFooter {
      padding-top: 32px;
      span {
        color: var(--primary-color);
        font-size: 14px;
        font-weight: 400;
      }
      .primaryButton {
        display: inline-block;
        width: 100%;
        margin-top: 32px;
        cursor: pointer;
      }
    }
  }

  .pricingCard {
    &:nth-child(2) {
      .priceCard {
        background: var(--primary-color);
        color: #fff !important;

        h4 {
          color: #fff;
        }
        p {
          color: #fff;
        }
        span {
          color: #fff;
          &.crossed-out {
            text-decoration: line-through;
            color: #9ba0af !important;
          }
        }

        .featuresList {
          li {
            color: #f0f0f0;
          }
        }

        .priceHeader,
        .priceBody {
          border-bottom: 2px solid #ffffff30;
          padding-bottom: 32px;
        }

        .priceFooter {
          span {
            color: #fff !important;
          }
          .primaryButton {
            background: #fff;
            color: var(--primary-color);
          }
        }
      }
    }

    &:nth-child(2) .priceCard .featuresList li:before {
      content: url("../images/check04.png") !important;
    }

    &:nth-child(3) .priceCard .featuresList li:before {
      content: url("../images/check04.png") !important;
    }
  }
}

// Program Timeline Overview
#programTimeline {
  padding: 100px 0;

  p {
    font-size: 24px;
    font-weight: 400;
    color: var(--text-color);
    margin: 40px 0 32px 0;
  }
  .indicators {
    display: flex;
    gap: 40px;
    button {
      border: none;
      background: transparent;
      color: var(--primary-color) !important;
      cursor: context-menu;
      row-gap: 40px;
    }
  }
  .lg-table {
    display: block;
  }

  .sm-table {
    display: none;
  }

  .table-wrapper {
    min-height: 460px;
    overflow-x: auto;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid rgba(5, 18, 56, 0.2);
    box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
    display: inline-block;
    background: url(../images/background-with-lines.png) !important;
    background-repeat: no-repeat;
    background-position: bottom right !important;
    background-size: cover !important;

    table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 12px;
      text-align: center;
      word-wrap: break-word;
      border: none;
      width: calc(100% / 8);
    }
    th {
      font-weight: bold;
    }
    td {
      text-align: left;
      padding-left: 50px;
    }

    .grey-row {
      background-color: #8c94a0;
      color: #fff;
      font-weight: bold;
      border-radius: 30px;
      position: relative;
    }

    &.dark {
      .dark-blue-row {
        background-color: var(--primary-color);
        color: #ffffff;
        font-weight: bold;
        border-radius: 30px;
        position: relative;
      }
      .flexibleIntership {
        border-radius: 100px !important;
      }
    }

    .blue-row {
      background-color: #051238;
      color: #ffffff;
      font-weight: bold;
      border-radius: 30px;
      position: relative;
    }

    .row-margin {
      margin-bottom: 16px;
      row-gap: 0 !important;
    }

    img {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  tbody {
    margin-top: 100px !important;
  }
}

// Foundational Learning
#foundationalLearning {
  .accordion {
    &.accordion-flush {
      display: grid;
      grid-template-columns: repeat(2, 1fr) !important;
    }

    .accordion-header {
      margin: 0 !important;
    }

    .accordion-button {
      width: 100%;
      height: auto;
      text-align: left;
      outline: none !important;
      box-shadow: none !important;
      background: none !important;
      padding-bottom: 0 !important;
      border-bottom: none;
      margin-left: -20px !important;

      &::after {
        display: none;
      }

      &::before {
        content: "-";
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-weight: bold;
        margin-right: 8px;
        background: var(--secondary-color);
        color: #fff;
        border-radius: 50%;
      }

      &.collapsed::before {
        content: "+";
        background: var(--tertiary-color);
        transition: ease 0.4s;
      }

      color: var(--text-color);
      font-size: 20px;
      font-weight: 500;

      &.active {
        color: var(--secondary-color);
      }

      &:hover {
        color: var(--secondary-color);
      }
    }

    .accordion-collapse {
      flex-grow: 1;
    }

    .accordion-body {
      padding-top: 20px;
      padding-left: 0;
      width: 400px;

      p {
        font-size: 18px !important;
        color: #666;
      }

      .moduleList {
        padding-left: 0;

        li {
          list-style: none;
          padding-top: 6px;
          font-size: 16px;
          font-weight: 500;
          color: rgba(5, 18, 56, 0.8);
          display: flex;
          align-items: flex-start;

          &:before {
            content: url("../images/program-check.svg") !important;
            display: inline-block;
            vertical-align: middle;
            margin: 3px 14px 0 0;
          }
        }
      }
    }

    .accordion-item {
      border-bottom: none;
      width: 200px !important;
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}

// Hiring Contests
#hiringContests {
  padding: 160px 0 160px 0;
  text-align: center;
  h2 {
    margin-top: 28px;
  }

  p {
    font-size: 20px;
    color: var(--text-color);
    margin-top: 10px;
  }
  .cardBox {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
    padding: 50px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    h5 {
      font-size: 22px;
      font-weight: 800;
      color: var(--primary-color);
      margin-top: 40px;
      width: 70%;
    }
  }
}

// Hired Students
#hiredStudents {
  padding: 0 0 100px;

  h2 {
    text-align: center;
  }

  .Steps {
    margin-top: 56px;
    margin-bottom: 60px !important;

    .col.step:nth-child(-n + 3)::after {
      content: "";
      position: absolute;
      bottom: 75%;
      left: 99%;
      transform: translateX(-50%);
      width: 212px;
      height: 1px;
      background: #e1e4e9;
      z-index: -1;
    }

    .col.step:nth-child(n + 4)::after {
      display: none;
    }

    .step {
      text-align: center;
      position: relative;

      h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        border-radius: 999px;
        border: 1px solid rgba(5, 19, 58, 0.2);
        background: #fff;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        position: relative;
      }

      p {
        color: var(--primary-color);
        margin-top: 17px;
        text-align: center;
      }
    }
  }

  .studentCard {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;

    .studentHeader,
    .studentBody {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      flex: 1;
      min-height: 0;
    }

    .studentHeader {
      border-radius: 15px 15px 0 0;
      border: 1px solid var(--secondary-color);
      background: #fff;
      img {
        overflow: hidden;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
      }
    }

    .studentBody {
      border-radius: 0 0 15px 15px;
      background: var(--tertiary-color);
      padding: 20px;
      text-align: center;

      p {
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        color: #fff;
        width: 80%;
      }
    }

    .studentHeader img {
      margin: 0 auto;
    }

    &:nth-child(even) {
      &::after {
        content: "";
        position: absolute;
        bottom: 8%;
        right: 39%;
        width: 100%;
        height: 100%;
        border-radius: 50px 150px;
        margin-bottom: 10px;
        background-image: url("../images/arrow.svg") !important;
        background-repeat: no-repeat;
        z-index: -1;
      }
    }

    &:nth-child(odd):nth-of-type(1) {
      &::after {
        content: "";
        position: absolute;
        top: 10%;
        left: 160%;
        width: 100%;
        height: 100%;
        border-radius: 50px 150px;
        margin-bottom: 10px;
        background-image: url("../images/arrow.svg") !important;
        transform: scaleY(-1);
        background-repeat: no-repeat;
        z-index: -1;
      }
    }

    &:nth-child(odd) {
      .studentBody {
        background: var(--primary-color) !important;
        border-radius: none !important;
      }
    }
  }
}

// Accredited Diploma in Frontend Development
#accreditedDiploma {
  background: #f9f9f9;
  padding: 75px 130px;

  p {
    font-size: 20px;
    color: var(--primary-color);
  }
}

// Hands-on Experience
#handsOnExperience {
  margin-top: 100px;
  h2 {
    margin: 32px 0;
  }

  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 60px;
    color: rgba(5, 18, 56, 0.8);
  }

  .monthPill {
    width: auto;
  }

  .skillCard {
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #dadce1;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.12);
    padding: 26px 20px;
    flex: 1;

    img {
      margin-bottom: 15px;
    }

    h6 {
      color: var(--secondary-color);
      font-size: 16px;
      font-weight: bold;
    }

    p {
      font-size: 16px;
      margin-bottom: 0;
      color: var(--primary-color);
    }

    &:nth-child(6) {
      padding: 0;
      margin-top: 100px;
    }
  }

  .skillCards {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .imageBackground {
    position: relative !important;
    margin: 0 0 20px 20px;

    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: -15px;
      width: 98%;
      height: 100%;
      border-radius: 50px 190px;
      background-color: var(--secondary-color);
      z-index: -1;
    }
  }
}

// 45 days Internship Included
#ourTestimonials {
  padding-top: 100px;

  p {
    font-size: 20px;
    color: rgba(5, 18, 56, 0.6);
  }

  .col-md-4 {
    display: flex;
    flex: 2;
  }

  .row {
    gap: 30px;
  }

  .testimonial_card {
    min-height: 300px;
    border-radius: 16px;
    padding: 32px 29px;
    border: 1px solid rgba(5, 18, 56, 0.2);
    box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.15);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(5, 18, 56, 0.2);
    background: var(--White, #fff);
    box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);

    p {
      color: rgba(5, 18, 56, 0.6);
      font-size: 18px;
      font-weight: 400;
      margin-top: 0;
    }

    h5 {
      font-size: 16px;
      font-weight: 800;
      margin: 5px 0 0 12px;
    }
    img {
      max-width: 100px;
      height: auto;
    }
  }

  .profile {
    margin-top: 0;
    padding-bottom: 32px;
    border-bottom: 1px solid #d9d9d9;
  }
}

// Start Earning Online and Start Applying for Jobs
#earnOnline {
  padding: 100px 0 0;
  h2 {
    text-align: center;
    margin-bottom: 80px;
  }

  h3 {
    margin: 32px 0;
  }

  .checkList {
    padding-left: 0;
    margin: 0;
    list-style-type: none;

    li {
      font-size: 24px;
      font-weight: 500;
      color: rgba(5, 18, 56, 0.8);
      margin-bottom: 16px;
      display: flex;
      align-items: flex-start;

      &:before {
        content: url("../images/check.png") !important;
        display: inline-block;
        width: 26px;
        height: 26px;
        margin: 5px 12px 0 0;
        vertical-align: middle;
      }
    }
  }
}

// Our Esteemed Faculty
#ourMentors {
  padding: 160px 0;

  h2 {
    text-align: center;
  }

  .mentorCards {
    gap: 60px;
    min-height: auto;
  }

  .mentorCard {
    gap: 40px;
    .imageBg {
      position: relative;
      overflow: hidden;
      min-width: 271px;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--secondary-color) !important;
        z-index: -1;
        background-size: cover;
      }

      img {
        display: block;
        width: 100%;
        min-height: auto;
        position: relative;
        z-index: 1;
        object-fit: cover;
      }
    }

    .mentorInfo {
      width: 95%;

      h5 {
        font-size: 22px;
        font-weight: 700;
        color: var(--primary-color);
        margin-bottom: 20px;
      }

      .bio {
        font-size: 19px;
        line-height: 28px;
        color: rgba(5, 18, 56, 0.6);
        border-bottom: 1px solid #05123833;
        padding-bottom: 40px;
      }

      .testimonial {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: var(--primary-color);
        margin-top: 28px;
      }
    }
  }

  .mentorCard:nth-child(1) .imageBg {
    border-radius: 90px 30px;
  }

  .mentorCard:nth-child(2),
  .mentorCard:nth-child(5) {
    .imageBg {
      border-radius: 30px 90px 90px 90px;
    }
  }

  .mentorCard:nth-child(3) .imageBg {
    border-radius: 90px 30px 90px 90px;
  }

  .mentorCard:nth-child(4) .imageBg {
    border-radius: 30px 90px;
    padding-top: 40px;
  }
}

#educationalInvestment {
  margin-top: 60px;
  margin-bottom: 145px;
  padding: 60px;
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);

  h2 {
    span {
      color: #9aa1ab;
    }
  }

  p {
    font-size: 16px;
    color: rgba(5, 18, 56, 0.8);
    margin-bottom: 60px;
  }

  .offerSnippet {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
    margin: 32px 0 16px 0;
  }

  .infoBox {
    margin-top: 40px;

    p {
      margin: 4px 0 0 12px;
      font-weight: 800;
      color: var(--primary-color);
    }
  }
}

// Successful IT Stories
#successStories {
  p {
    font-size: 20px;
    color: #05123899;
  }
}

#realExperiences {
  padding: 60px 0;
}

// Real Projects
#realProjects {
  padding: 60px 0;
  overflow-x: hidden;
  text-align: center;
  .row {
    margin-top: 80px;
  }

  .project-item {
    h5 {
      color: var(--primary-color);
      text-align: center;
      font-size: 16px;
      font-weight: 800;
    }

    p {
      color: var(--primary-color);
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      width: 70%;
      margin: auto;
    }

    img {
      margin-bottom: 42px;
    }
  }
}

// Your Path to Employment
#pathToEmployment {
  position: relative;
  background: var(--primary-color);
  padding: 70px 0;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center !important;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 99vw;
    height: 100%;
    background: var(--primary-color);
    z-index: -1;
    overflow: hidden;
  }
  .box {
    border-radius: 16px;
    border: 2px solid var(--tertiary-color);
    background: #fff;
    width: 204px;
    height: 124px;
    flex-shrink: 0;
    margin-top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 40px;
    p {
      font-size: 16px;
      line-height: 16px;
      font-style: normal;
      font-weight: 400;
      color: var(--primary-color);
    }
    h3 {
      position: relative;
      display: inline-block;
      z-index: 1;
      margin-top: 10px;

      &::after {
        content: "";
        position: absolute;
        top: 60%;
        left: -15%;
        width: 91px;
        height: 15px;
        background: var(--tertiary-color);
        display: block;
        z-index: -1;
      }
    }
  }

  h2 {
    color: var(--tertiary-color);
  }

  p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
  }
  li {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
    display: flex;
    align-items: flex-start;

    &:before {
      content: url("../images/check01.png") !important;
      display: inline-block;
      margin: 2px 14px 0 0;
      vertical-align: middle;
    }
  }
}

// Financing Options Return your Investment in 3 months
#financingOptions {
  padding-bottom: 100px;
  h2 {
    font-size: 48px;
    font-weight: normal;
    line-height: 64px;
  }
  p {
    font-size: 24px !important;
    font-weight: 400;
    color: var(--primary-color) !important;
    margin-top: 50px !important;
  }
  .accordion {
    margin-top: 48px !important;
    width: 80%;
    margin: 0 auto;
    border: none;
    img {
      margin-right: 40px;
    }
  }

  .accordion-header {
    margin-bottom: 0 !important;
  }
  .accordion-item {
    margin-top: 20px;
    border: none !important;
  }
  .accordion-button {
    border-radius: 16px !important;
    border: 1px solid rgba(51, 51, 51, 0.4) !important;
    padding: 20px 110px;
    background: none !important;
    box-shadow: none !important;
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
  }
  &.collapsed {
    border: 1px solid #000 !important;
    box-shadow: 1px 2px 4px #111 !important;
  }
  .accordion-body {
    text-align: left !important;
    padding: 36px 100px !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: var(--primary-color);
  }
  .cardBox {
    border-radius: 16px;
    border: 1px solid rgba(5, 18, 56, 0.2);
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
    padding: 40px;
    margin: 0 auto;
    width: 80% !important;
    text-align: left !important;
    margin-bottom: 50px;
    color: rgba(5, 18, 56, 0.6) !important;

    .info {
      display: flex;
      justify-content: space-between !important;
      align-items: center;
      margin-top: 20px;
      .uppercase {
        color: var(--primary-color) !important;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
      }
      .price {
        color: #0155f3;
        font-size: 30px;
        font-weight: 800;
      }
      .snippet {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 32px !important;
      }
      .quaternaryButton {
        margin-top: 32px !important;
      }
    }
  }

  hr {
    height: 1px;
    background: rgba(5, 18, 56, 1);
    margin: 32px 0 !important;
  }
}

// Plans changed ?
#plansChanged {
  background: var(--primary-color, #051238) !important;
  color: #fff;
  padding: 60px;
  max-width: 100%;
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
  margin-bottom: 100px;

  h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
  }

  p {
    font-size: 28px;
    font-weight: 400;
    margin-top: 28px;
  }

  span {
    color: var(--tertiary-color);
  }
}

// Community + Tech Events
#techEvents {
  font-size: 16px;
  color: rgba(5, 18, 56, 0.8);
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
  padding: 20px;
  margin-bottom: 100px;

  h5 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
  }
  p {
    margin-top: 20px;
  }
}

// Enrollment Process
#enrollmentProcess {
  h2 {
    text-align: center;
  }
  p {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 700;
    font-size: 16px;
  }
  .Steps {
    margin-top: 56px;
    .col.step:nth-child(-n + 5)::after {
      content: "";
      position: absolute;
      bottom: 78%;
      left: 99%;
      transform: translateX(-50%);
      width: 100%;
      height: 2px;
      background: var(--primary-color);
      z-index: -1;
    }

    .col.step:nth-child(n + 6)::after {
      display: none;
    }

    .step {
      text-align: center;
      position: relative;

      h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 800;
        border-radius: 999px;
        border: 1px solid rgba(5, 19, 58, 0.2);
        background: var(--primary-color);
        width: 60px;
        height: 60px;
        margin: 0 auto;
        position: relative;
        color: #fff;
      }

      p {
        color: var(--primary-color);
        margin-top: 17px;
        text-align: center;
      }
    }
  }
}

// Need more info?
#moreInfo {
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
  margin-top: 160px;
  margin-bottom: 160px;
  max-width: 80%;
  padding: 60px 160px 60px 0;

  p {
    color: rgba(5, 18, 56, 0.8);
    font-size: 16px;
    font-weight: 400;
    margin: 32px 0 40px;
  }
  .imageBackground {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;

    &::after {
      content: "";
      position: absolute;
      border-radius: 16px;
      top: 0;
      left: 35%;
      width: 60%;
      height: 100%;
      background: var(--secondary-color);
      z-index: 1;
      min-height: 100%;
    }

    img {
      position: relative;
      top: 25%;
      left: 35%;
      width: 60%;
      height: 60%;
      object-fit: contain;
      z-index: 2;
    }
  }
}

// Frequently Asked Questions
#ourFaqs {
  margin: 0 auto !important;
  margin-bottom: 100px !important;

  .accordion {
    width: 80%;
    margin-top: 50px;

    .accordion-item {
      text-align: left;
      outline: none !important;
      box-shadow: none !important;
      background: none !important;
      padding-bottom: 0;
      padding-left: 0;
      border-bottom: none;

      .accordion-button {
        outline: none !important;
        box-shadow: none !important;
        background: none !important;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        color: var(--primary-color) !important;
        border-bottom: 1px solid rgba(5, 18, 56, 0.2);
        padding: 30px 0;

        &:focus {
          color: var(--secondary-color) !important;
        }
      }
      .accordion-body {
        color: #05133b;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 28.8px */
        letter-spacing: -0.288px;
        padding: 20px 0;
      }
    }
  }
}
// Submit Your Application Now and Secure your Early Bird Price for the October Cohort
#submitApplication {
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 80px 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  border-radius: 20px;
  background: var(
    --grey-gradien,
    linear-gradient(110deg, #f5f5f5 0.1%, #fff 115.65%)
  );
  p {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 500;
    margin: 60px 0;
  }
  .form-wrapper {
    width: 40%;
    margin: 0 auto;
  }
}

// Footer
#footer {
  background: var(--primary-color);
  padding: 100px 0;
  position: relative; /* Ensure relative positioning for ::after pseudo-element */

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 99.2vw;
    height: 100%;
    background: var(--primary-color);
    z-index: -1;
    overflow: hidden;
  }

  p {
    text-align: left;
    color: #cdd0d7;

    font-size: 16px;
    margin-top: 20px;
  }

  h6 {
    font-size: 16px;
    font-weight: 700 !important;
    color: #fff;
  }

  .footer-icon {
    margin-right: 8px;
  }

  ul {
    padding-left: 0;

    li {
      margin: 12px 0;
      list-style: none;

      a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 14px;
        padding: 0;
        color: #cdd0d7;

        &:hover {
          color: #fff;
          transition: ease 0.2s;
        }

        &.active {
          color: var(--secondary-color);
          font-weight: 700;
        }

        img {
          margin-right: 8px;
        }
      }
    }
  }

  &-bottom {
    p {
      text-align: left !important;
      font-size: 14px;
    }
    .div {
      background: #fff !important;
    }
  }
}

/* Tablets and mobile screens */
@media (max-width: 992px) {
  .customContainer {
    width: 90%;
  }

  .reverseImage::after {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 100%;
    height: 95%;
    border-radius: 100px 50px;
    bottom: -8px;
    right: -8px;
    z-index: -1;
  }

  .reverseImage.student::after {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 85%;
    height: 95%;
    border-radius: 50px 150px;
    bottom: -20px;
    left: -20px;
    z-index: -1;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 32px;
    line-height: 38px;
  }

  #subHeader {
    h6,
    a {
      font-size: 10px;
    }
    padding: 30px;
  }

  #hero {
    padding: 0 20px 90px !important;
  }

  #intro {
    margin-top: 0 !important;
    padding: 40px 0;
    .boxes {
      margin-top: 60px !important;
      gap: 40px;
    }
  }

  #ourOffers {
    padding: 70px 0;
    h2 {
      margin-bottom: 40px;
    }
    .row {
      gap: 40px;
    }
    .tag {
      left: 32% !important;
    }
  }

  #hiringContests {
    padding: 60px 0;
  }

  #hiredStudents {
    .Steps {
      flex-direction: column;
      gap: 100px;
      .col.step:nth-child(-n + 3)::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0 !important;
        right: 0 !important;
        transform: translateX(-50%) !important;
        width: 1px !important;
        height: 80px !important;
        background: #e1e4e9;
        z-index: -1;
        margin-bottom: 200px;
        margin: 0 auto !important;
      }
    }
  }

  #programTimeline {
    padding: 70px 0;
    .indicators {
      gap: 30px;
      button {
        margin-right: 0 !important;
      }
    }
    .slick-prev {
      position: absolute !important;
      top: 0 !important;
      left: 38% !important;
      z-index: 1 !important;
    }

    .slick-next {
      position: absolute !important;
      top: 0 !important;
      right: 44% !important;
    }
    .lg-table {
      display: none;
    }

    .sm-table {
      display: block !important;
      margin-top: 100px !important;
    }
    .table-wrapper {
      background: none;
      padding: 0 !important;
      overflow: hidden;
    }

    th {
      font-size: 12px !important;
      padding: 0;
    }

    td {
      padding-left: 0;
      text-align: center;
    }

    .grey-row,
    .light-blue-row,
    .dark-blue-row {
      font-size: 16px;
      padding: 0 5px !important;
      border-radius: 250px !important;
      position: relative;
      img {
        position: absolute;
        top: 35%;
        left: 28%;
      }
    }
    .table-wrapper {
      background: none !important;
    }

    .table-wrapper table div {
      width: 100%;
      text-align: center;
    }

    .table-wrapper thead,
    .table-wrapper th {
      height: 50px !important;
    }

    table {
      border-spacing: 7px;
    }

    .table-wrapper table {
      border-collapse: initial;
    }

    .table-wrapper th {
      width: 66px;
      font-size: 9px;
    }

    .table-wrapper td {
      height: 50px !important;
      width: 62px !important;
      border-radius: 100%;
      font-size: 10px;
    }
    img {
      display: none !important;
    }
  }

  #foundationalLearning {
    padding: 70px 0;
    .accordion-header {
      margin-bottom: 0 !important;
    }
    .accordion-button {
      font-size: 18px !important;
      margin-top: 5px;
    }
    .accordion-body {
      width: 370px !important;
      overflow-x: hidden;
    }
    .desktopAccordion {
      display: none !important;
    }
    .mobileAccordion {
      display: block !important;
    }
  }

  #reversibleSection {
    padding: 0 20px;
  }

  #accreditedDiploma {
    padding: 70px 40px;
    h2 {
      margin: 24px 0;
    }
  }

  #handsOnExperience {
    padding: 0;
    .reversedColumn {
      flex-direction: column-reverse !important;
      margin-top: 20px;
    }
    .imageBackground::after {
      border-radius: 20px 130px;
    }
  }

  #ourTestimonials {
    padding: 70px 0 0;
  }

  #ourMentors {
    margin-bottom: 0 !important;
  }

  #successStories {
    margin-top: 0 !important;
    padding: 0 !important;
    .cards {
      row-gap: 30px;
    }
  }

  .navbar-toggler {
    border: none !important;
  }

  .navbar-toggler:focus {
    box-shadow: none !important;
    border: none !important;
  }

  .navbar-toggler {
    display: flex !important;
  }

  .navbar-links {
    display: none !important;
    width: 100%;
  }

  .navbar-nav {
    margin-top: 20px;
  }

  .keySkills .cards {
    gap: 30px !important;
  }

  .col-md-4 {
    flex: 0 0 100% !important;
    max-width: 100%;
  }

  #realProjects {
    padding: 70px 18px !important;
    img {
      margin-bottom: 20px !important;
    }
    .row {
      margin-top: 50px !important;
      row-gap: 40px;
    }
  }

  #successStories {
    padding: 0 20px;
  }

  #realExperiences {
    padding: 80px 20px 0;
  }

  #realProjects {
    text-align: center;
    img {
      margin: 0 auto;
    }
  }

  #pathToEmployment {
    padding: 80px 20px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: var(--primary-color);
      z-index: -1;
      overflow: hidden !important;
    }
  }

  #financingOptions {
    padding-bottom: 0;
    h2 {
      font-size: 40px !important;
      font-weight: normal;
      line-height: 48px !important;
    }

    .accordion {
      width: 100% !important;
      margin: 0 auto;
      border: none;
      img {
        margin-right: 20px !important;
      }
    }
    .accordion-item {
      margin-top: 20px;
      border: none !important;
    }

    .accordion-body {
      padding: 40px 0 !important;
    }
    .cardBox {
      border-radius: 16px;
      border: 1px solid rgba(5, 18, 56, 0.2);
      background: #fff;
      box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1);
      padding: 40px;
      margin: 0 auto;
      width: 100% !important;
      text-align: left !important;
      margin-bottom: 50px;
      color: rgba(5, 18, 56, 0.6) !important;
      .info {
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        margin-top: 20px;
        .uppercase {
          color: var(--primary-color) !important;
          text-align: center;
          font-size: 20px;
          font-weight: 800;
          text-transform: uppercase;
        }
        .price {
          color: #0155f3;
          font-size: 30px;
          font-weight: 800;
        }
      }
    }
    .accordion-button {
      padding: 20px !important;
      font-size: 16px !important;
    }
  }

  #plansChanged {
    max-width: 90%;
    padding: 70px 20px;
    margin-top: 90px;
    h2 {
      font-size: 34px;
    }
    p {
      font-size: 20px;
    }
  }

  #techEvents {
    max-width: 90%;
  }

  #enrollmentProcess {
    .Steps {
      flex-direction: column;
      gap: 100px;
      .col.step:nth-child(-n + 6)::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0 !important;
        right: 0 !important;
        transform: translateX(-50%) !important;
        width: 1px !important;
        height: 80px !important;
        background: var(--primary-color);
        z-index: -1;
        margin-bottom: 200px;
        margin: 0 auto !important;
      }
    }
  }

  #moreInfo {
    padding: 60px 20px !important;
    margin-top: 40px !important;
    margin-bottom: 0 !important;
    max-width: 90%;
    .row {
      flex-direction: column !important;
      gap: 30px;
    }
    .imageBackground {
      position: relative;
      overflow: hidden;
      width: 100%;
      min-height: 100%;

      &::after {
        content: "";
        position: absolute;
        border-radius: 16px;
        top: 0;
        left: 20% !important;
      }

      img {
        position: relative;
        top: 25%;
        left: 22% !important;
        z-index: 2;
      }
    }
  }

  #ourFaqs {
    padding: 90px 20px 0 !important;
    br {
      display: none;
    }
    .accordion {
      width: 94% !important;
      margin-top: 30px !important;
    }
    .accordion-button {
      font-size: 18px !important;
    }
  }

  #submitApplication {
    padding: 90px 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    .form-wrapper {
      width: 90% !important;
    }
  }

  #footer {
    padding: 60px 20px;
  }
}

/* Custom media queries */
@media (min-width: 992px) and (max-width: 1200px) {
  .nav-item:not(:last-child) {
    padding: 0 !important;
  }
}

@media (max-width: 992px) {
  .form-wrapper {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .mentorCard .imageBg {
    width: 100%;
    height: 100%;
  }
  .ourMentors {
    padding: 100px 20px;
    .row {
      row-gap: 40px;
    }
    .mentorCard {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      text-align: center;
      justify-content: center;
    }
  }
}

@media (max-width: 992px) {
  .studentCard {
    &:nth-child(even)::after,
    &:nth-child(odd):nth-of-type(1)::after {
      display: none;
    }
  }
}
